body{
    font-family:"Times New Roman";
    background-color: rgb(245, 244, 248);
}
.project{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6LMG73aa1hJ3L8yx-luJjkfZuQhFGJB6-6Q&usqp=CAU");
    background-size: cover;
    color:#fff;
    height:15%;
}
.project-title {
    font-size:340% ;
    padding:1% 1%;
    float:left;
    font-weight: bold;

}
.header-list a{
    float:right;
}
a{
    color:#fff;
    float:right;
    padding:1.5% 3.4%;
    font-size:250%;
}
a:hover{
    color:rgba(180, 168, 250, 0.9);
}



.main{
    height:110%;
    padding-top: 2%;
}
.image{
    height:30%;
    width:18%;
    float:right;
    margin-right:5%;
    padding-top:3%;
}
.det{
    margin-top:4%;
}
.det h2{
    color:rgb(5, 5, 5);
    font-size:340%;
    padding-left:1%;
}
.det p{
    color:rgb(5, 5, 5);
    font-size:180%;
    padding-left:2%;
}
.det span{
    padding-left:6%;
}


.pics{
    float:left;
}
.pics img{
    height:10%;
    width:30%;
}
.piclist{
    float:left;
    margin-left:20%;
    margin-top: 5%;
}
.lists h3{
    color:rgb(5, 5, 5);
    font-weight: bolder;
    text-align: center;
    padding-top:1%;
}
.lists li{
    padding-bottom:0.5%;
    font-size: 1.5em;
    list-style:disc;
    color:rgb(5,5,5);
}
.footer{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6LMG73aa1hJ3L8yx-luJjkfZuQhFGJB6-6Q&usqp=CAU");
    background-size: cover;
    height:20%;
    color:white;
}
.logo{
    font-size:160%;
    padding-bottom:1% ;
    padding-left:2%;
    float:left;
    
}
.lis li{
    list-style:none;
}
.lis{
    float:right;
    padding-top:1.5%;
    padding-right:4%;
    font-size: 130%;
}

