body{
    font-family:"Times New Roman";
    background-color: rgb(245, 244, 248);
}
.project{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6LMG73aa1hJ3L8yx-luJjkfZuQhFGJB6-6Q&usqp=CAU");
    background-size: cover;
    color:#fff;
    height:110px;
}
.project-title {
    font-size:50px ;
    padding:30px 10px;
    float:left;
    font-weight: bold;
    margin-left:10px;
}

.image{
    height:300px;
    width:200px;
    float:right;
    margin-right:110px;
    padding-top:15px;
}

}
.header-list a{
    float:right;
    padding:35px 20px;
    font-size: 20px;
}
a{
    color:#fff;
    float:right;
    padding:35px 20px;
    font-size:30px;
}
a:hover{
    color:rgba(180, 168, 250, 0.9);
}

.main{
    height:700px;
}
.det{
    color:rgb(5, 5, 5);
    font-size:30px;
    padding-left:40pxpx;
}

.pics{
    float:left;
    padding:70px 0 20px 50px
}
.pics img{
    height: 150px;
    width:150px;
}
.piclist{
    float:left;
    margin-left:350px;
    margin-top: 60px;
}
.lists h3{
    color:rgb(5, 5, 5);
    font-weight: bolder;
    padding-top:5px;
}
.lists li{
    padding-bottom:3px;
    margin-right:3px;
    list-style: symbols(diamond);
    color:rgb(5,5,5);
}
.footer{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6LMG73aa1hJ3L8yx-luJjkfZuQhFGJB6-6Q&usqp=CAU");
    background-size: cover;
    padding:40px;
    height:120px;
    color:white;
}
.logo{
    float:left;
    font-size:26px;
    
}
.lis li{
    padding-bottom:20px;
    list-style:none;
}
.lis{
    float:right;
    padding-top:10px;
    padding-right:30px;
}

